# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log
npm-debug.log*
iisnode/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Azure
.deployment-local
deploy.zip

# Build outputs
dist/
build/
